certifi==2025.11.12
charset_normalizer==3.4.4+computecanada
distlib @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/distlib/distlib-0.3.9
filelock @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/filelock/filelock-3.17.0
flit_core @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/flit_core/flit_core-3.10.1
fsspec==2025.10.0+computecanada
hatch-vcs @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/hatch_vcs/hatch_vcs-0.4.0
hatchling @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/hatchling/hatchling-1.27.0
hf_xet==1.1.10+computecanada
huggingface_hub==0.36.0+computecanada
idna==3.11+computecanada
jinja2==3.1.6+computecanada
MarkupSafe==3.0.2+computecanada
mpmath==1.3.0+computecanada
networkx==3.5+computecanada
numpy==2.3.3+computecanada
packaging @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/packaging/packaging-24.2
pathspec @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/pathspec/pathspec-0.12.1
platformdirs @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/platformdirs/platformdirs-4.3.6
pluggy @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/pluggy/pluggy-1.5.0
PyYAML==6.0.2+computecanada
regex==2024.11.6+computecanada
requests==2.32.5+computecanada
safetensors==0.5.3+computecanada
setuptools @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/setuptools/setuptools-75.8.0
setuptools-scm @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/setuptools_scm/setuptools_scm-8.1.0
sympy==1.14.0+computecanada
tokenizers==0.22.1+computecanada
tomli @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/tomli/tomli-2.2.1
torch==2.9.0+computecanada
tqdm==4.67.1+computecanada
transformers==4.57.1+computecanada
trove-classifiers @ file:///cvmfs/soft.computecanada.ca/easybuild/sources/p/Python/extensions/trove_classifiers-2025.1.15.22-py3-none-any.whl#sha256=5f19c789d4f17f501d36c94dbbf969fb3e8c2784d008e6f5164dd2c3d6a2b07c
typing_extensions @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/typing_extensions/typing_extensions-4.12.2
urllib3==2.5.0+computecanada
virtualenv @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/virtualenv/virtualenv-20.29.1
wheel @ file:///tmp/ebuser/avx2/Python/3.13.2/GCCcore-13.3-gentoo/wheel/wheel-0.45.1
